<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg">
            <div class="ibox float-e-margins" style="margin-bottom: 5px;">
                <div class="ibox-title">
                    <p>账号绑定</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <div class="ibox float-e-margins" style="margin-bottom: 5px;">
                <div class="ibox-content">
                    <p>已绑定微信账号：123@*****</p>
                    <p>您可以利用绑定的微信账号进行充值，免登或代扣服务。<a href="">更多说明&gt;&gt;</a></p>
                    <p class="text-right">已绑定</p>
                </div>
            </div>
        </div>
    </div>
</div>