<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col col-xs-12">
            <p>输入你的账户详细信息</p>
            <div class="form-group">
                <div class="input-group m-b">
                    <span class="input-group-addon">昵称</span>
                    <input type="text" placeholder="请输入昵称" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
        <div class="col col-xs-6">
            <input style="width: 100%;border-radius: 6px;" placeholder="验证码">
        </div>
        <div class="col col-xs-6"><button class="btn btn-default" style="width: 100%;height:40px;">1208</button></div>
    </div>
    <div class="row">
        <div class="col col-xs-12">
            <div class="form-group">
                <div class="input-group m-b">
                    <span class="input-group-addon">手机号码</span>
                    <input type="text" placeholder="请输入绑定手机号码" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
        <div class="col col-xs-6">
            <input style="width: 100%;border-radius: 6px;" placeholder="短信验证码">
        </div>
        <div class="col col-xs-6"><button class="btn btn-default" style="width: 100%;height:40px;">获取短信验证码</button></div>
    </div>

    <div class="row">
        <div class="col col-xs-12">
            <div class="form-group">
                <label class="control-label">服务区域：广东</label>
                <select class=" m-b" name="account" style="width:100%;">
                    <option>中国</option>
                    <option>广东</option>
                    <option>广州</option>
                    <option>深圳</option>
                    <option>广州</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>
            <input type="checkbox" style="width:18px; height:18px;display: inline-block;vertical-align: bottom">
            我同意
        </label>
        <span style="color:#1ab394">《代理人员合作协议》</span>
    </div>

    <div class="row">
        <div class="col col-xs-6"><button class="btn btn-lg btn-social" style="width:100%">返回登录</button></div>
        <div class="col col-xs-6"><button class="btn btn-lg btn-primary" style="width:100%">注册</button></div>
    </div>
</div>